 .container{
    margin-top: 50px;
}
.nav-bg{
    background-color: white;
}
.carousel{
    background-color: lemonchiffon;
}
.carousel-item{
    padding: 20px 40px;
}
.predict-now-button{
    background-color:black;
    color:white;
    border-radius: 5px;
    padding: 10px 20px;
     
    cursor: pointer;
}
.read-more-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
